<div style="background: none repeat scroll 0% 0% rgb(248, 248, 102); margin: 3em; padding: 2em;">
<!--  
  <p style="margin: 0.2em;">
    Interested in hiring me ?
  </p>
  <p style="margin: 0.2em;">
    I will build your MVP in 2 weeks for € 2000
  </p> -->
  <p style="margin: 0.2em;">
    I am specialized in clojure and I am available for high-level contract job.
  </p>
  <p style="margin: 0.2em;">
    You can contact me at: <a href="mailto:simone@mweb.biz">simone (at) mweb (dot) biz</a>
  </p>
</div>
